*{
	box-sizing: border-box;
}

/*font*/
$font-primary : 'Poppins', sans-serif;

/*color*/
$color-font-primary: #282828;
$color-font-secondary: #525252;
$color-font-1: #262626;
$color-dark-blue: #011f4b;
$color-white: #ffffff;
$color-gray: #3f4d63;


/*Show/Hide in mobile*/
.hide-mobile{
    display: flex !important;
    @media (max-width:767px) {
        display: none !important;
    }
}
.show-mobile{
    display: none !important;
    @media (max-width:767px) {
        display: flex !important;
    }
}

