header{
	.top{
		text-align: center;
		background-color: $color-dark-blue;
		padding: 30px 0;
		.logo{
			max-width: 250px;
			text-decoration: none;
			font-family: $font-primary;
			color: $color-white;
			font-size: 36px;

			img{
				width: 100%;
			}
		}
		p{
			font-family: $font-primary;
			color: $color-white;
			font-size: 14px;
		}
	}
	.bottom{
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color:$color-gray;
		padding: 20px 0;
		.inner{
			display: flex;
			justify-content: space-between;
			width: 100%;
			.col{
				nav{
					display: flex;
					align-items: center;
					position: relative;
					z-index:3;
					@media (max-width: 991px){
						position: absolute;
						top: 79px;
						left: -100%;
						width: 100%;
						transition: left 0.2s cubic-bezier(0.7, 0, 0.84, 0);
						border-top: 1px solid $color-white;
					}
					&.open{
						@media (max-width: 991px){
							left: 0;
						}
					}
					ul{
						display: flex;
						@media (max-width: 991px){
							flex-direction: column;
							margin-top: 30px;
						}
						li{
							margin: 0 20px;
							@media (max-width: 991px){
								margin-bottom: 30px;
							}
							&:last-of-type{
								margin-right:0;
							}
							a{
								font-family: $font-primary;
								text-decoration: none;
								color: $color-white;
								font-size: 16px;
								text-transform: uppercase;
							}
						}
					}
				}
				.hamburger {
					width: 30px;
					height: 15px;
					position: relative;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
					cursor: pointer;
					position: relative;
					left: 0;
					z-index: 3;
					top: 0;
					display: none;
					@media (max-width: 991px){
						display: block;
					}
					span {
						display: block;
						position: absolute;
						height: 4px;
						width: 34px;
						width: 100%;
						opacity: 1;
						right: 0;
						-webkit-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
						-webkit-transition: .25s ease-in-out;
						-moz-transition: .25s ease-in-out;
						-o-transition: .25s ease-in-out;
						transition: .25s ease-in-out;
						&:nth-child(1) {
							top: 0px;
							width: 34px;
						}
						&:nth-child(2), &:nth-child(3) {
							top: 8px;
							width: 30px;
						}
						&:nth-child(4) {
							top: 16px;
							width: 26px;
					  	}
					}
					&.open{
						span{
							&:nth-child(1) {
								top: 5px;
								width: 0%;
								left: 50%;
							}
							&:nth-child(2) {
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
								width:30px;
							}
							&:nth-child(3) {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
								width:30px;
							}
							&:nth-child(4) {
								top: 5px;
								width: 0%;
								left: 50%;
							}
						}
					}
				}
				&.header-btn{
					ul{
						display: flex;
						li{
							padding: 0 5px;
							a{
								font-family: $font-primary;
								color: $color-white;
								text-decoration: none;
								background: #6497b1;
								padding: 5px 15px;
							}
						}
					}
				}
			}
		}
	}
}